<div class="content" ng-controller="CategoryController">
            <div class="panel panel-default">
                <div class="panel-heading">List of category:</div>
                    <div class="panel-body">
                        <ul class="list-group" ng-repeat="category in categoryList">
                            <li class="list-group-item" >

                                {{category.category_name}}<br>
                                {{category.parent}}

                            </li>
                        </ul>
                    </div>
            </div>
        </div>

