<div class="content" ng-controller="CommentController">
            <div class="panel panel-default">
                <div class="panel-heading">List of comment:</div>
                    <div class="panel-body">
                        <ul class="list-group" ng-repeat="comment in commentList">
                            <li class="list-group-item" >
                                <a href="#/note/comment/{{comment.pk}}">
                                {{comment.content}}<br>
                                {{comment.user_comment}}<br>
                                {{comment.note_comment}}<br>
                            </a>

                            </li>
                        </ul>
                    </div>
            </div>
        </div>

