<div class="content" ng-controller="CommentIdController">
               <div class="panel-heading">Deteil of comment:</div>
                    <div class="form-group">
                        <label for="content">Content:</label>
                        <textarea class="form-control" id="id_text" name="content" rows=1  width="50px" ng-repeat="c in comment">
                        {{c}}</textarea>
                    </div>

</div>