
<div class="container">
	<div class="col-xs-12 col-sm-9 list-group-item" ng-controller="AuthController">
		<form name="form">
			<div class="form-group">
				<label class="col-sm-2 control-label ">Username</label>
				<div class="col-sm-10">
        			<input id="id_username" maxlength="30" name="username" ng-model="username" type="text" class="form-control" required>
					<span class="help-block">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">Password</label>
				<div class="col-sm-10">
					<input id="id_password" maxlength="128" name="password" ng-model="password" type="password" class="form-control" required>
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary" data-ng-click="submitAuth()">Log in</button>
             </div>
			{{error}}
		</form>

	</div>
</div>
<a href="{% url 'social:begin' 'vk-oauth2' %}">
      <img width='45px' height="45px" src="http://www.intertelecom.ua/images/Raznoe/VK.jpg"/></a>

      <a href="{% url 'social:begin' 'facebook' %}">
      <img width='45px' height="45px" src="http://setno.do.am/article_image-image-article.jpg"/></a>


<a href="{% url 'social:begin' 'github' %}">
		<img width='45px' height="45px" src="http://teatext.com/uploads/posts/2015-03/1427813883_github-logo.jpg"/></a></a>

<!--<button onclick="location.href='http://api.vk.com/oauth/authorize?client_id=4980293&redirect_uri=https://vk.com/login?act=mobile&hash=75fd15544046d68d';">Войти ВКонтакте</button>-->
<!--<a href="{% url 'social:begin' 'vk-oauth2' %}">-->
      <!--<img src="http://s1.iconbird.com/ico/2013/6/270/w128h341371236209PolnylogotipVKontakte128.png"/></a>-->

<!--<a href="{% url 'social:begin' 'facebook' %}">-->
      <!--<img src="https://oauth.io/api/providers/facebook/logo"/></a>-->