<div ng-controller="NoteNewController">
<h5>Create a new note</h5>
    {{form}}

<form method="POST" enctype="multipart/form-data">

    <div>
        <label for="title" >Title:</label>
         <textarea class="form-control" id="id_text" name="title" rows=1  width="50px" ng-model="selected_title" >

         </textarea>
    </div>

    <div>
        <label for="Content">Content:</label>
        <textarea class="form-control" id="id_text" name="content" rows=1  width="50px" ng-model="selected_content">
        </textarea>
    </div>

    <div >
        <label for="Color">Color:</label>
        <select id="id_color" name="color" ng-model='selected_color' ng-options="color.code for color in colorList track by color.pk" >
        <option value="" selected="selected_color" >---------</option>
        <!--<option  value="{{color.pk}}">{{color}}</option>-->
        </select>

    </div>

    <div >
        <label for="note_category">Category:</label>
        <select multiple="multiple" id="id_note_category" name="note_category" ng-model='selected_category' ng-options="category.category_name for category in categoryList track by category.pk">
            <option value="{{category.pk}}" selected="selected_category">{{category.category_name}}</option>
        </select>

    </div>

    <div >
        <label for="note_label">Label:</label>
        <select multiple="multiple" id="id_note_label" name="note_label" ng-model='selected_label' ng-options="label.label_name for label in labelList track by label.pk">
        <option value="{{label.pk}}" selected="selected_label">{{label.label_name}}</option>
        </select>
    </div>

    <div>
        <label for="media">Media:</label> <select multiple="multiple" id="id_note_media" name="note_media" ng-model='selected_media' ng-options="media.my_file for media in mediaList track by media.pk">
        <option value="{{media.pk}}" selected="selected_media">{{media.my_file}}</option>
     </select>
    </div>

    <!--<div>-->
        <!--<label for="User">User:</label>-->
        <!--<select id="id_user" name="user"  ng-model='selected_user' ng-options="user.username for user in userList track by user.pk">-->
        <!--<option value="" selected="selected_user" >-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
        <!--&lt;!&ndash;<option value="{{user.pk}}">{{user.username}}</option>&ndash;&gt;-->

        <!--</select>-->
    <!--</div>-->

    <div>
    <hr>
        <button class="btn btn-default" ng-click="submitNote()">Submit</button>
        <!--<input type="submit" class='btn btn-primary' value="Save user" ng-click="submitNote()"/>-->
    </div>

    </form>

</div>