
<div ng-controller="CategoryNewController">

<form method="POST"  enctype="multipart/form-data">

    <div>
        <label for="id_category_name" >Category_name:</label>
         <textarea class="form-control" id="id_text" name="title" rows=1  width="50px" ng-model="selected_category_name" >
         </textarea>
    </div>


    <hr>
        <button class="btn btn-default" ng-click="submitCategory()">Submit</button>
        <!--<input type="submit" class='btn btn-primary' value="Save user" ng-click="submitNote()"/>-->
    </div>
    </form>
</div>