<div ng-controller="CommentNewController">

<form method="POST"  enctype="multipart/form-data">

    <div>
        <label for="comment_content" >Content:</label>
         <textarea class="form-control" id="id_text" name="content" rows=1  width="50px" ng-model="selected_content">
         </textarea>
    </div>


    <hr>
        <button class="btn btn-default" ng-click="submitComment()">Submit</button>
        <!--<input type="submit" class='btn btn-primary' value="Save user" ng-click="submitNote()"/>-->
    </div>
    </form>
</div>