<div ng-controller="NoteIdController">
    <div ng-repeat="n in note.note_media">

       <center> <img width="150px" height="150px" ng-src="{{ n.my_file }}" /></center>
    </div>
    <div background='#e0d2c7' class="layout form-group">
        <label for="user">User:</label>
        <textarea class="form-control" id="id_text" name="user" rows=1  width="50px" >{{note.user.username}}
        </textarea>
    </div>

    <div class="form-group ">
    	<label for="title"> Title:</label>
        <textarea class="form-control" id="id_text" name="title" rows=1 width="50px" >{{ note.title}}</textarea>
    </div>

    <div class="form-group">
        <label for="content" >Content:</label>
        <textarea class="form-control" id="id_text" name="content" rows=1  width="50px" >{{note.content}}</textarea>
    </div>

	<div class="form-group" >
		<label for="category">Categoty:</label>
        <textarea class="form-control" id="id_text" name="category" rows=1 ng-repeat="n in note.note_category">
        {{n.category_name}}
       </textarea>

    </div>

    <div class="form-group">
        <label for="label">Label:</label>
        <textarea class="form-control" id="id_text" name="label" rows=1  width="50px" ng-repeat="n in note.note_label">
        {{n.label_name}}</textarea>
    </div>

    <div class="form-group">
        <label for="color">color:</label>
        <textarea class="form-control" id="id_text" name="color" rows=1  width="50px" ng-repeat="n in note.color" >
        {{n}}</textarea>
    </div>

    <div class="form-group">
        <label for="media">Media:</label>
        <input type='file' id="id_text" name="media">

        {{note.note_media}}</input>
    </div>

   <div class="form-group">
        <label for="coment">Comment:</label>
      <div  ng-repeat="c in comment" class="panel panel-success">


      <div class="panel-heading"> {{c.user_comment.username}}<br>

        </div>
      <div class="panel-body">
             {{c.content}}</div>
    </div>

    <div>
        <label for="comment_content" >Add new comment:</label>
         <textarea class="form-control" id="id_text" name="content" rows=1  width="50px" ng-model="selected_content">
         </textarea>
        <button class="btn btn-default" ng-click="submitComment()">Submit</button>
    </div>


        <!--<input type="submit" class='btn btn-primary' value="Save user" ng-click="submitNote()"/>-->

<div>
    <!--<div class="form-group">-->
    <!--<button type="submit" class="btn btn-success" value="Save"> Save</button>-->
     <!--<br>-->
     <!--<a href="../../get_list/"> Notes </a>-->
     <!--</div>-->
</div>