        <div class="content" ng-controller="NoteController">
            <div class="panel panel-default">
                <div class="panel-heading">List of notes:</div>
                    <div class="panel-body">
                        <ul class="list-group" ng-repeat="note in noteList">
                            <li class="list-group-item" >
                             <a href="#/note/{{note.pk}}">
                                {{note.pk}}.
                                {{note.title}}<br>
                                {{note.content}}
                             </a>
                            </li>
                        </ul>
                    </div>
            </div>
            </div>