<div ng-controller="UserNewController">
<form method="POST" enctype="multipart/form-data">

<div>

      <div class="form-group ">
         <label for="id_username">Username:</label>
         <input class="form-control" id="id_username" maxlength="30" name="username" type="text" ng-model="selected_username" /><br />
         <span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
      <div class="help-block with-errors"></div></div>


      <div class="form-group">
         <label for="id_password1">Password:</label>
         <input class="form-control" id="id_password1" name="password1" type="password" ng-model="selected_password" />
      <div class="help-block with-errors"></div></div>

      <div class="form-group">
         <label for="id_password2">Password confirmation:</label>
         <input class="form-control" id="id_password2" name="password2" type="password" ng-model="selected_password2" />
         <br /><span class="helptext">Enter the same password as above, for verification.</span>
      <div class="help-block with-errors"></div></div>

    <button type="submit" class="btn btn-primary btn-lg active" value="Send" ng-click="submitUser()"> Send</button>

</div>
</form>
</div>
