<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="{% static "js/libs/lodash.js" %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-resource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
<div class="container">
    {% if user.is_authenticated %}
   <p class="navbar-text navbar-left"> {{user.username}}</p>
    {% else%}
    <a href='../'><p class="navbar-text navbar-right">Registration</p></a>
    {% endif %}
     <a href='../../#/note/login'>{% if  user.is_authenticated %}
                        <p class="navbar-text navbar-right">Exit</p>
                        {% endif %}</a>
     <a href="../login/"> {% if not user.is_authenticated %}
                        <p class="navbar-text navbar-right">LogIn|</p>
                        {% endif %}
     </a>




    <a href="../../get_list/"><p class="navbar-text ">{% if user.is_authenticated %}
                        Note
                        {% endif %}</p>
    </a>

    <a href="../../category_list/"><p class="navbar-text ">{% if user.is_authenticated %}
                        Category
                        {% endif %}</p>
    </a>
    </div>
</nav>


            <div class="jumbotron">
                <h1><center>Welcome to my site {{user.username}}</center></h1>
            </div>
            <div id="content"  ng-app="noteApp">
                {% block content %}{% endblock %}
            </div>

    {% block footer %}
        <div class="col-xs-offset-6 col-sm-offset-4 col-xs-6 col-sm-4 col-xs-offset-6 col-sm-offset-4">
        <p ><center>Thanks for visiting my site.</center></p>
        </div>
    {% endblock %}

<script src="{% static "js/files/template.js" %}"></script>
    </body>
</html>


