{% extends "my_rest/base.html" %}

{% block title %}Note{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-4 col-md-4">
        <h2>Notes</h2>

        {% verbatim %}
        <div class="content" ng-controller="NoteController">
            <div class="panel panel-default col-md-6 col-md-offset-3">
                <!-- Default panel contents -->


                <div class="panel-heading">List of notes:</div>
                    <div class="panel-body">
                        <ul class="list-group" ng-repeat="note in noteList">
                            <li class="list-group-item"  >
                                Title: {{note.title}}<br>
                                Content: {{note.content}}<br>

                            </li>
                        </ul>

            </div>
        {% endverbatim %}
        </div>
</div>
{% endblock%}

