{% extends 'notes/base.html' %}
{% block title %}Django !{% endblock %}
 {% block content %}

{% load mptt_tags %}
<div class="col-md-6 col-md-offset-3">
    <a href="../new_category/"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil"></span> Add new category</button></a>
</div>

        <div class="col-md-6 col-md-offset-3">
        <form action='' method='post'>{% csrf_token %}
        {% verbatim %}
        <div class="content" ng-controller="CategoryController">
            <div class="panel panel-default">
                <div class="panel-heading">List of category:</div>
                    <div class="panel-body">
                        <ul class="list-group" ng-repeat="category in categoryList">
                            <li class="list-group-item" >

                                {{category.category_name}}<br>
                                {{category.parent}}

                            </li>
                        </ul>
                    </div>
            </div>
        </div>

        </form>


        {% endverbatim %}
        </div>

        <br>
{% endblock %}