{% extends 'notes/base.html' %}
{% block title %}Django !{% endblock %}
{% block content %}
<div class="row">
    <div class = "col-xs-3" >
        <div>
            <a href="#/note/new_category/"><button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-th-list"></span> Add new category</button></a><br><br>

            <a href="#/note/new_note/"><button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-pencil"></span> Add new note</button></a><br><br>

            <a href="#/note/new_label/"><button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-pencil"></span> Add new label</button></a><br><br>

        </div>

    </div>

<div ng-view class="view col-xs-9">

</div>

</div>
{% endblock %}