{% extends 'notes/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}


	<form role="form" action='' method='post'>{% csrf_token %}
    <div class="form-group col-xs-12 ">
        <label  for="username">Username:</label>{{form.username}}
    </div>
    <div class="form-group col-xs-12 ">
        <label  for="pass">Password</label>{{form.password}}
    </div>
    <div class="form-group col-xs-12 ">
        <button type="submit" class="btn btn-default" value="Send"> Send</button>
    </div>
  
	</form>
<a href="{% url 'social:begin' 'vk-oauth2' %}">
      <img width='45px' height="45px" src="http://www.intertelecom.ua/images/Raznoe/VK.jpg"/></a>

      <a href="{% url 'social:begin' 'facebook' %}">
      <img width='45px' height="45px" src="http://setno.do.am/article_image-image-article.jpg"/></a>


<a href="{% url 'social:begin' 'github' %}">
		<img width='45px' height="45px" src="http://teatext.com/uploads/posts/2015-03/1427813883_github-logo.jpg"/></a></a>
{% endblock %}

