{% extends 'notes/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
<div class="form-group col-xs-12">
    <form action='' method='post'>{% csrf_token %}
    {{form.as_p}}

    <button type="submit" class="btn btn-primary btn-lg active" value="Send"> Send</button>
    </form> 


</div> 


{% endblock %}