{% extends 'notes/base.html' %}

{% block title %}Django !{% endblock %}
 
{% block content %}

<div>
    
    <form method="POST" action={% url 'new_note' %} enctype="multipart/form-data">
            {% csrf_token %}

 	{{form}}
    
        <input type="submit" class='btn btn-primary' value="Save user" />
    </div>
      
    </form>          

</div>
{% endblock %}