{% extends 'notes/base.html' %}
{% block title %}Django !{% endblock %}
{% block content %}
    
    <h3>Detail information about note: </h3>
    
    <!-- <img id="note_media" width="150px" height="150px"  src="{{ note.note_media.url}}" class="media-object"> -->
    <form class='content' method='post' action='' role="form">{% csrf_token %}
{% verbatim %}
<div ng-controller="NoteIdController">

    <div background='#e0d2c7' class="layout form-group ">
        <label for="user">User:</label>
        <textarea class="form-control" id="id_text" name="user" rows=1  width="50px" >{{note.user}}</textarea>
    </div>

    <div class="form-group">
    	<label for="title"> Title:</label>
        <textarea class="form-control" id="id_text" name="title" rows=1 width="50px" >{{ note.title}}</textarea>
    </div>

    <div class="form-group ">
        <label for="content" >Content:</label>
        <textarea class="form-control" id="id_text" name="content" rows=1  width="50px" >{{note.content}}</textarea>
    </div>
    
	<div class="form-group">
		<label for="category">Categoty:</label>
        <textarea class="form-control" id="id_text" name="category" rows=1>
        {{note.note_category}}
        
       </textarea>

    </div>

    <div class="form-group">
        <label for="label">Label:</label>
        <textarea class="form-control" id="id_text" name="label" rows=1  width="50px" >{{note.note_label}}</textarea>
    </div>

    <div class="form-group">
        <label for="color">color:</label>
        <textarea class="form-control" id="id_text" name="color" rows=1  width="50px" >{{note.color}}</textarea>
    </div>

    <div class="form-group">
        <label for="media">Media:</label>
        <input type='file' id="id_text" name="media">{{note.note_media}}</input>
    </div>

    
    <div class="form-group">
    <button type="submit" class="btn btn-success" value="Save"> Save</button>
     <br>
     <a href="../../get_list/"> Notes </a> 
     </div>
</div>
{% endverbatim %}
    </form>
{% endblock %}