{% extends "my_rest/base.html" %}

{% block title %}Note{% endblock %}
{% block content %}
<div class="col-md-6 col-md-offset-3">
<div>
    <a href="../new_note/"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil"></span> Add new note</button></a>
    <a href="../new_category/"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-th-list"></span> Add new category</button></a>
    <a href="../new_label/"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil"></span> Add new label</button></a>

</div>
<div class="row">
    <div>
        <h2>Notes</h2>

        {% verbatim %}
        <div class="content" ng-controller="NoteController">
            <div class="panel panel-default">
                <div class="panel-heading">List of notes:</div>
                    <div class="panel-body">
                        <ul class="list-group" ng-repeat="note in noteList">
                            <li class="list-group-item"  >
                                <a  href="/get_list/{{note.pk}}" >
                                {{note.pk}}.
                                Title: {{note.title}}<br>
                                Content: {{note.content}}<br>
                                </a>
                            </li>
                        </ul>
            </div>

        {% endverbatim %}
        </div>
</div>


</div>
</div>
</div>
{% endblock%}